.bica {
    font-size: 75%;
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99999999;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3)
}
.bica [data-role="link"],
.bica [data-role="button"] {
    cursor: pointer
}
.bica [data-role="link"] {
    text-decoration: none
}
.bica [data-role="link"]:hover {
    text-decoration: underline
}
.bica [data-role="button"] {
    background: transparent;
    padding: 2px 8px;
    border-radius: 4px;
    margin: 0 5px
}
.bica-content {
    *zoom: 1;
    padding: 5px 20px
}
.bica-content::before,
.bica-content:after {
    content: " ";
    display: table;
    clear: both
}
@media only screen and (min-device-width: 200px) and (max-device-width: 640px),
only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
    .bica-content {
        text-align: center;
        padding: 10px
    }
}
.bica-stack .bica-content .bica-disclaimer {
    text-align: center;
    padding-bottom: 20px
}
.bica-inline .bica-content .bica-disclaimer {
    display: inline-block
}
.bica-column .bica-content .bica-disclaimer {
    float: left;
    width: 50%;
    text-align: left
}
.bica-stack .bica-content .bica-actions {
    text-align: center
}
.bica-inline .bica-content .bica-actions {
    display: inline-block;
    padding-left: 15px
}
@media only screen and (min-device-width: 200px) and (max-device-width: 640px) {
    .bica-inline .bica-content .bica-actions {
        padding-top: 10px;
        padding-left: 0
    }
}
.bica-column .bica-content .bica-actions {
    float: left;
    width: 50%;
    text-align: right
}
