.bica-cookie-alert{font-size:80%;display:none;width:100%;position:fixed;bottom:0;z-index:99999999;box-shadow:0 2px 20px rgba(0,0,0,0.3)}.bica-cookie-alert [data-role="link"],.bica-cookie-alert [data-role="button"]{cursor:pointer}
.bica-cookie-alert [data-role="link"]{text-decoration:none}.bica-cookie-alert [data-role="link"]:hover{text-decoration:underline}
.bica-cookie-alert [data-role="button"]{background:transparent;padding:4px 10px;border-radius:4px;margin:0 5px}
.bica-content{*zoom:1;padding:5px 20px}.bica-content::before,.bica-content:after{content:" ";display:table;clear:both}
.stack .bica-content .bica-disclaimer{width:100%;text-align:center;padding-bottom:20px}
.inline .bica-content .bica-disclaimer{display:inline-block}
.column .bica-content .bica-disclaimer{float:left;width:50%;text-align:left}
.stack .bica-content .bica-actions{width:100%;text-align:center}
.inline .bica-content .bica-actions{display:inline-block;padding-left:15px}
.column .bica-content .bica-actions{float:left;width:50%;text-align:right}
