// Clearfix
.cf() {
    *zoom: 1;
    &::before,
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// Column
.half-col() {
    float: left;
    width: 50%;
}

// Floating
.right() {
    .half-col();
    text-align: right;
}
.left() {
    .half-col();
    text-align: left;
}
.center() {
    width: 100%;
    text-align: center;
}

// Animations
.transition(@options) {
    -webkit-transition: @options;
    -moz-transition: @options;
    -ms-transition: @options;
    -o-transition: @options;
    transition: @options;
}
